<div class="btn-group">
    <div class="dropwon">
        <button class="ngtp-dropdown-btn btn  dropdown-toggle"
                type="button"
                data-toggle="dropdown">Hide/show columns
            <span class="caret"></span>
        </button>

        <ul class="dropdown-menu">
            <li data-ng-repeat="column in columns"
                data-ng-click="ctrl.onColumnClicked(column);$event.stopPropagation();"
                class="ngtp-noselect">

                <div class="checkbox" data-ng-if="!column.show()">
                    <label class="ngtp-checkbox-label-disabled">
                        <input data-ng-if="!column.show()"
                               type="checkbox"
                               class="ngtp-checkbox-disabled"
                               value="">
                        <span class="ngtp-checkbox-text-disabled">{{column.title()}}</span>
                    </label>
                </div>
                <div class="checkbox" data-ng-if="column.show()">
                    <label class="ngtp-checkbox-label-enabled">
                        <input data-ng-if="column.show()"
                               class="ngtp-checkbox-enabled"
                               type="checkbox"
                               value=""
                               checked>
                        <span class="ngtp-checkbox-text-enabled">{{column.title()}}</span>
                    </label>
                </div>
            </li>
        </ul>
    </div>
</div>